:root {
    /* primary-color */
    --color-primary-white: #f6f6f6;
    --color-primary-black: #121212;

    /* secondary-color */

    /* --secondary-color-grey-1: #292928;
    --secondary-color-pink: #FFC4F7;
    --secondary-color-yellow: #FFF3B7; */
}